.aboutus{
    background-color: #3B3B1A;
}
.usp{
     color: #E7EFC7;
}

.mem{
    color: rgb(235, 241, 241); 
}

h1{
    font-size: 350%;
    text-align: center;
    font-weight :600;
    
}
h2{
    font-size: 250%;
    font-weight :500;
    
}
h3{
    font-size: 200%;
    font-weight :450;
}

body{
    background-color:#FFF2E0;
    color: #331c0c;
}


.fff {
    color: rgb(15, 19, 19);
    font-size :19px;
}
button{
    background-color: transparent;
    border: none;
}
p{
    color: #7B4019;
    font-size: 120%;
    text-align: justify;
}
img{
    width: 100%;
    height: 500px;
}